@inject IFAQApiService FAQApiService

<MudDialog style="min-height: 600px;">
    <TitleContent>
        @AppStrings.EditQnA
    </TitleContent>
    <DialogContent>
        <EditForm EditContext="editContext">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField Label="@AppStrings.Question" @bind-Value="qna.Question" Required="true" Variant="Variant.Outlined" />
                </MudItem>
            </MudGrid>
        </EditForm>
        <hr />
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.body1">@AppStrings.UseTheEditor</MudText>
            </MudItem>
        </MudGrid>
        <MudItem xs="12">
            <div style="height:250px">
                <BlazoredTextEditor @ref="@answerEditor">
                    <ToolbarContent>
                        <span class="ql-formats">
                            <select class="ql-font">
                                <option selected=""></option>
                                <option value="serif"></option>
                                <option value="monospace"></option>
                            </select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                        </span>
                    </ToolbarContent>
                </BlazoredTextEditor>
            </div>
        </MudItem>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {

    private EditContext editContext = null!;

    [CascadingParameter]
    private IMudDialogInstance? MudDialog { get; set; }

    [Parameter]
    public QnA qna { get; set; } = new();

    [Parameter]
	public int QnASetId { get; set; }

    private BlazoredTextEditor? answerEditor;
    private bool initialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !initialized)
        {
            initialized = true;

            await Task.Delay(100);

            if (answerEditor is not null)
            {
                try
                {
                    await answerEditor.LoadHTMLContent(qna?.Answer ?? string.Empty);
                }
                catch (JSException ex)
                {
                    Console.WriteLine(AppStrings.EditorFailed + ex.Message);
                }
            }
        }
    }

    private async Task Submit()
    {
        qna.Answer = await answerEditor!.GetHTML();
		qna.QnASetId = QnASetId;
        MudDialog!.Close(DialogResult.Ok(qna));
    }
    private void Cancel() => MudDialog!.Cancel();

    protected override void OnInitialized()
    {
        editContext = new EditContext(qna);
    }
}